{% extends 'base.html'%}
{% block content%}
  <section id="about-info" class="bg-light pad">
    <div class="container">
      <div class="about-text">
        <h3 class="largeheading"><span class="primary-text">About</span> Hotel Fox</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum deleniti, error dignissimos impedit, rem
          sequi deserunt voluptate temporibus blanditiis repudiandae illo quas. Numquam, dolore laboriosam iste maiores
          itaque atque modi?</p>
        <p style="color:white; background-color: #ff6600; text-align:center;" >Sum = {{output}}</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure laborum nihil expedita qui enim odit porro
          libero quod aspernatur sunt?
        </p>
      </div>
      <div class="about-img">
        <img src="/static/img/photo-2.jpg" alt="Hotel">
      </div>
    </div>
  </section>

  <section id="testimonials">
    <div class="container">
      <h2 class="largeheading">What Our Guests Say</h2>
      <div class="guest bg-primary">
        <img src="/static/img/person-1.jpg" alt="guest 1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque repellat odit qui reprehenderit iure
          facere laudantium soluta nobis inciduntLorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
          repellat odit qui reprehenderit iure facere laudantium soluta nobis incidunt
        </p>
      </div>
      <div class="guest bg-primary">
        <img src="/static/img/person-2.jpg" alt="guest 2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque repellat odit qui reprehenderit iure
          facere laudantium soluta nobis incidunt nemo.Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Doloremque repellat odit qui reprehenderit iure facere laudantium soluta nobis incidunt nemo.
        </p>
      </div>
    </div>

  </section>

  <div class="clr"></div>
  {%endblock%}


