{% extends 'base.html'%}
{% block content%}
<div id="showcase">
    <div class="container">
      <div class="showcase-content">
        <h1><span class="primary-text">Enjoy</span> Your Stay</h1>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, eligendi
          laboriosam.Repellendus officia harum eaque.</p>
        <a class="btn" href="about/">About our Hotel</a>
      </div>
    </div>
  </div>
</header>
  <section id="Home-info" class="bg-dark">
    <div class="info-img"></div>
    <div class="info-text">                                 
      <h2><span class="primary-text">The History</span> Of Our Hotel</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda aliquam dolor alias iste autem, quaerat
        magni unde accusantium qui fuga placeat quidem quo pariatur, voluptatum, ea sequi? Corporis, explicabo quisquam
        dolor placeat praesentium nesciunt mollitia quos nobis natus voluptatum asperiores!
      </p>
      <a class="btn btn-light" href="about/">Read More</a>
    </div>
  </section>

  <section id="features">
    <div class="box bg-light">
      <i class="fas fa-hotel fa-3x"></i>
      <h3>Great Location</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, iusto!</p>
    </div>
    <div class="box  bg-primary">
      <i class="fas fa-utensils fa-3x"></i>
      <h3>Free Meals</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, iusto!</p>
    </div>
    <div class="box bg-light">
      <i class="fas fa-dumbbell fa-3x"></i>
      <h3>Fitness Room</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, iusto!</p>
    </div>
  </section>

  <div class="clr"></div>

  {% include 'footer.html'%}
  {% endblock%}