<h2>Total Registrations</h2>

<table style="border-collapse: collapse;">
  <thead>
    <tr>
      <th style="border: 1px solid black; padding: 8px;">Username</th>
      <th style="border: 1px solid black; padding: 8px;">Email</th>
    </tr>
  </thead>
  <tbody>   
    {% for user in users %}
      <tr>
        <td style="border: 1px solid black; padding: 8px; color: black; font-size: 16px;">{{ user.username }}</td>
        <td style="border: 1px solid black; padding: 8px; color: black; font-size: 16px;">{{ user.email }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<hr>
